html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #333; 
  font-family: sans-serif; 
}

.module {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.module__item {
  flex: 1; /* 讓五個元素平均分配 .module 的高度 */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Safari 補丁（PostCSS 會插入） */
@supports (-webkit-touch-callout: none) {
  html, body {
    height: -webkit-fill-available;
  }
  .module {
    height: -webkit-fill-available;
  }
}

.module__item:nth-child(odd) {
  background: #fff;
  color: #008e61;
}

.module__item:nth-child(even) {
  background: #750013;
  color: #F1D08A;
}
