html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.module {
  height: 100vh;
  width: 100%;     /* ← 重要！要覆蓋 max-width */
  max-width: none; /* ← 防止舊版本 cache */
  margin: 0 auto;
    display: flex;
  flex-direction: column;   /* ★★ 必加：讓 item 等比分配 */
}

@supports (-webkit-touch-callout: none) {

  .module {
    height: -webkit-fill-available;
  }
}

.module__item {
  flex: 1;   /* 等分高度 */
}
.module__item:nth-child(odd) {
  background: #fff;
  color: #008e61;
}

.module__item:nth-child(even) {
  background: #F73859;
  color: #F1D08A;
}
