.module {
  height: 100vh; /* PostCSS 會處理它 */
  margin: 0 auto;
  max-width: 30%;
}

.module__item {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.module__item:nth-child(odd) {
  background: #fff;
  color: #F73859;
}

.module__item:nth-child(even) {
  background: #F73859;
  color: #F1D08A;
}
