.module {
  height: 100vh;
  width: 100%;     /* ← 重要！要覆蓋 max-width */
  max-width: none; /* ← 防止舊版本 cache */
  margin: 0 auto;
}

.module__item {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.module__item:nth-child(odd) {
  background: #fff;
  color: #F73859;
}

.module__item:nth-child(even) {
  background: #F73859;
  color: #F1D08A;
}
